
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    transition: 4s linear ease-out;
}



.input{visibility: hidden;}

.label{
    width: 160px;
    height: 80px;
    background-color: lightgray;
    position: absolute;
    border-radius: 40px;
    transition: .3s linear ease;
    cursor: pointer;
}
.circle{
    width: 68px;
    background-color: white;
    height: 68px;
    border-radius: 50%;
    top: 6px;
    left: 6px;
    position: absolute;
    transition: 2s;
    animation: toggleOff .2s linear forwards;
}
.input:checked + .label{
    background-color: rgba(14, 14, 76, 0.804);
    >.circle{
        animation: toggleOn .2s linear forwards;
    }
}
@keyframes toggleOn{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(80px);
    }

}
@keyframes toggleOff{
    0%{
        transform: translateX(80px);
    }
    100%{
        transform: translateX(0px);
    }

}